*.elf
*.mot
*.MAP
*.bin
*.fmw
*.hex
*.map
*.o
*.o.d
*.d
*.a
*.lst
*.gdb
*.pyc
wkspc
XuanWuOS.cfg
doxygen
GTAGS
GRTAGS
GPATH
xwbs/util/js/xwgitloglint/node_modules
xwbs/util/js/xwgitloglint/package-lock.json
compile_commands.json
.cache