*.elf
*.mot
*.MAP
*.bin
*.fmw
*.hex
*.map
*.o
*.o.d
*.d
*.a
*.lst
*.gdb
*.pyc
wkspc
XuanWuOS.cfg
xwbs/util/js/xwgml/node_modules
xwbs/util/js/xwgml/package-lock.json
doxygen
GTAGS
GRTAGS
GPATH
compile_commands.json
.cache