*.c             text
*.cc            text
*.cpp           text
*.cxx           text
*.h             text
*.hpp           text
*.hxx           text
*.s             text
*.S             text
*.lua           text
*.el            text
*.js            text
*.json          text
*.org           text
*.py            text
*.sh            text
*.lds           text
*.lcf           text
*.mk            text
makefile        text
Makefile        text
*.png           binary
*.ico           binary
*.gif           binary
*.jpg           binary
*.jpeg          binary
*.a             binary
*.elf           binary
*.bin           binary