*.elf
*.mot
*.MAP
*.bin
*.fmw
*.hex
*.map
*.o
*.o.d
*.d
*.a
*.lst
*.gdb
*.pyc
wkspc
StarsOulOS.cfg
doxygen
GTAGS
GRTAGS
GPATH
xwbs/util/js/xwcommitlint/node_modules
xwbs/util/js/xwcommitlint/package-lock.json
