#! /usr/bin/openocd -f
# @file
# @brief openocd cfg file for stm32f10x chip
# @author
# + 隐星魂 (Roy.Sun) <https://xwos.tech>
# @copyright
# + (c) 2015 隐星魂 (Roy.Sun) <https://xwos.tech>
# > Licensed under the Apache License, Version 2.0 (the "License");
# > you may not use this file except in compliance with the License.
# > You may obtain a copy of the License at
# >
# >         http://www.apache.org/licenses/LICENSE-2.0
# >
# > Unless required by applicable law or agreed to in writing, software
# > distributed under the License is distributed on an "AS IS" BASIS,
# > WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# > See the License for the specific language governing permissions and
# > limitations under the License.
#

source [find interface/jlink.cfg]
transport select swd

set WORKAREASIZE 0x10000

source [find target/stm32f4x.cfg]

# use hardware reset, connect under reset
reset_config srst_only srst_nogate

#tpiu config external uart off 168000000 7000000
#itm port 0 on

#$_TARGETNAME configure -event trace-config {
#        # Set TRACE_IOEN; TRACE_MODE is set to async; when using sync
#        # change this value accordingly to configure trace pins assignment
#        # cm_itm.lar = 0xC5ACCE55; key to access the ITM registers
#        # cm_itm.tcr = 0x00010009; ITMENA, SYNCENA, DWTENA, TraceBusId = 1
#        # cm_itm.ter[0] = 0x00000001; enable ITM port 0
#        # cm_itm_tpr = 0x00000001; enable unprivileged code
#        mww 0xE0042004 0x00000020
#        mww 0xE0000FB0 0xC5ACCE55
#        mww 0xE0000E80 0x00010009
#        mww 0xE0000E00 0x00000001
#        mww 0xE0000E40 0x00000001
#}
